.contact-container {
    display: flex;
    width: 75%;
}

.background-image {
    flex-grow: 1;
    background-image: url('../../shared/vasilina-sirotina.jpg');
    background-size: cover;
    background-position: center;
}