.contact-container {
    display: flex;
    width: 100%;
}

.background-image {
    flex-grow: 1;
    background-image: url('../../shared/vasilina-sirotina.jpg');
    /* Specify the path to your background image */
    background-size: cover;
    background-position: center;
    /* Add additional styling for the background image */
}